$primary-color: #3ba66b;
$secondary-color: #2E8053;
$third-color: #FFB416;
$fourth-color: #3E4A5E;
$fifth-color: #de2828;
$bgr-color--1: #f3f3f3;
$bgr-color--2: #f5f5f5;
$hover-color: #2e8053;
$input-color: #E5E5E5;
$line-color: #C0C0C0;
$text-color-1: #27282C;