@use "../../assets/styles/variable.module.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.center {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.direction {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #f3f3f3;
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100rem;
  transition: all ease-in-out 0.2s;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  &:hover {
    transition: all ease-in-out 0.2s;
    background-color: #fff;
  }
}

.right--icon {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.left--icon {
  left: 7px;
  top: 50%;
  transform: translateY(-25px);
}
.arrow {
  font-size: 36px;
  color: $fourth-color;
}
.banner {
  margin-top: 70px;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  &__item {
    border-radius: 30px;
    margin-bottom: 30px;
    & a {
      img {
        width: 100%;
        border-radius: 30px;
        object-fit: cover;
        transition: all ease-in-out 0.2s;
      }
    }
    :hover {
      transform: scale(1.05);
      transition: all ease-in-out 0.2s;
    }
  }
}
.homePage {
  &__banner {
    img {
      width: 100%;
    }
  }
  &__swiper {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 30px auto;
    gap: 20px;
    height: 205px;

    &--item {
      scroll-snap-align: start;
      flex-shrink: 0;
      width: 188px;
      padding: 20px;
      border-radius: 10px;
      position: relative;
      z-index: 2;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
      a {
        max-width: 156px;
      }
    }
    &--image {
      width: 100%;
      object-fit: cover;
      border-radius: 100rem;
      position: absolute;
      display: inline-block;
      position: relative;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      transition: all ease-in-out 0.4s;
      overflow: hidden;
      &:hover {
        top: 5px;
        transition: all ease-in-out 0.4s;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
          rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
      }
    }
    &--desc {
      text-align: center;
      margin-top: 5px;
    }
  }
  &__endowList {
    border: 2px solid $fifth-color;
    border-radius: 20px;
    position: relative;
    margin-top: 100px;
    padding: 50px 20px;
    padding-top: 70px;
    &--display {
      position: relative;
      z-index: 1;
      overflow: hidden;
      max-width: calc(225px * 4.4);
      margin: 0 auto;
      ul {
        display: flex;
        padding: 0;
        margin: 0;
        gap: 5px;
      }
    }

    &--title {
      position: absolute;
      padding: 0 50px;
      height: 85px;
      width: 400px;
      top: calc(-85px / 2);
      left: 50%;
      transform: translateX(-50%);
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
        rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom-left-radius: 100rem;
      border-bottom-right-radius: 100rem;
      border-top-left-radius: 100rem;
      border-top-right-radius: 100rem;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        h2 {
          padding: 0;
          color: #3e4a5e;
          font-size: 32px;
          transition: all ease-in-out 0.2s;

          &:hover {
            color: $third-color;
            transition: all ease-in-out 0.2s;
          }
        }
      }
    }
  }
}
.left {
  left: 28%;
}
.right {
  right: -0.5%;
}

.list__product {
  display: flex;
  position: relative;
  margin: 50px auto;
  align-items: center;
  gap: 10px;
  .list__product--slide {
    overflow: hidden;
    height: 304px;
  }
}
.products__slide {
  display: flex;
}

.banner__shipper {
  position: relative;
  .banner-shipper__image {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    img {
      background-position: center;
    }
  }
  .banner-shipper__content {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    top: calc(50% - 50px);
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    h2 {
      color: white;
      text-align: center;
    }
    .banner-shipper__button {
      height: 50px;
      background-color: #fff;
      display: flex;
      padding: 0 20px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all ease-in-out 0.2s;
      &:hover {
        background-color: $third-color;
        color: #fff;
        transition: all ease-in-out 0.2s;
      }
    }
  }
}
.news {
  margin-top: 30px;
  &__title {
    h1 {
      text-align: center;
    }
    img {
      @extend .center;
      margin-top: 10px;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-content: center;
    gap: 20px;
  }
}

.homePage__swiper--display {
  max-width: calc(188px * 7);
  margin: 0 auto;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 1024px) {
  .homePage__swiper--display {
    max-width: 812px;
  }
  .homePage__endowList--display {
    max-width: calc(225px * 3.3);
  }
  .news__list {
    grid-template-columns: repeat(2, minmax(0, 305px));
  }
}
@media (max-width: 768px) {
  .homePage__swiper--display {
    max-width: 660px;
  }
  .homePage__swiper--item {
    width: 150px;
  }
  .homePage__endowList--display {
    max-width: calc(225px * 2.2);
  }
  .banner__display {
    max-width: 630px;
    margin: 0 auto;
  }
  .banner {
    gap: 0;
  }
  .banner__item {
    max-width: 630px;
  }
  .banner__item:nth-child(1) {
    display: none;
  }
}

.list__product {
  display: flex;
}

@media (max-width: 640px) {
  .homePage__swiper--display {
    max-width: 320px;
  }
  .homePage__swiper--item {
    width: 150px;
  }
  .homePage__endowList--title {
    max-width: 300px;
    height: 50px;
    top: -25px;
    padding: 0;
    a {
      img {
        width: 24px;
      }
      h2 {
        font-size: 18px;
      }
    }
  }
}
@media (max-width: 575px) {
  .homePage__endowList {
    padding-left: 0;
    padding-right: 0;
  }
  .homePage__endowList--display {
    max-width: 250px;
  }
  .right--icon {
    right: 0;
  }
  .banner__display {
    overflow: visible;
  }
  .banner {
    justify-content: center;
  }
  .banner__item {
    a {
      img {
        max-width: 500px;
        background-position: center;
      }
    }
  }
  .banner__item:first-child {
    display: none;
  }
}
@media (max-width: 525px) {
  .list__product--1,
  .list__product--2 {
    display: none;
  }

  .news__list {
    grid-template-columns: repeat(1, minmax(0, 305px));
  }
}
@media (max-width: 350px) {
  .homePage__endowList--title {
    max-width: 250px;
    height: 50px;
    top: -25px;
    padding: 0;
    a {
      img {
        width: 24px;
      }
      h2 {
        font-size: 18px;
      }
    }
  }
  .list__product--slide {
    width: 240px;
    margin: 0 auto;
  }
}

@media (max-width: 280px) {
  .homePage__swiper--display {
    max-width: 150px;
  }
  .homePage__swiper--item {
    width: 150px;
  }
}
