* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn--icon {
    width:45px;
    height:45px;
    border-radius: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}
.border {
    border: 1px solid #E6E6E6;
    border-radius: 20px;
    margin: 0 10px;
}

.product {
    flex-shrink: 0;
    height: 284px;
    overflow: hidden;
    width: 250px;
    padding: 0 1%;
    border-right: 1px solid #E6E6E6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    &__button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        bottom: -45px;
        transition: all ease-in-out 0.4s; 
        &--heart {
            @extend .btn--icon;
            background-color: #de2828;
        }
        &--shoppingCart {
            @extend .btn--icon;
            background-color: #3ba66b;
        }
        &--icon {
            font-size: 28px;
        }
    }
    &:nth-child(8) {
        border: none;
    }
    &:hover .product--image {
        transform: scale(1.11);
        transition: all ease-in-out 0.3s;
    }
    &:hover .product__button {
        bottom: 5px;
        transition: all ease-in-out 0.3s;
    }
    &__sale {
        position: absolute;
        width: 50px;
        height: 22px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 11px;
        background-color: #F14E18;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: 700;
        top: 0;
        left: 10px;
    }
    &Top {
        height: 277px;
        width: 277px;
        overflow: hidden;
        position: relative;
        margin-top: 0px;
        & a img {
            display: block;
            width: 80%;
            margin: 0 auto;
            transition: all ease-in-out 0.3s;
        }
    }
    &Bottom {
        margin-top: 10px;
        &__title {
            text-align: center;
            font-weight: 600;
        }
        &__price {
            display: flex;
            width: 100%;
            align-items: center;
            text-align: center;
            margin-top: -20px;
            &Sale {
                margin: 0 5px;
                font-weight: 700;
                color: #de2828;
                text-align: center;
                margin-top: 10px;
            }
            &Current {
                margin: 0 5px;
                font-weight: 200;
                font-size: 14px;
                color: #B5B5B5;
                text-align: center;
            }
        }
    }
}