.card {
    background-color: #fff;
    color: #2a2a2a;
    border-radius: 0.375rem;
    padding: 10px;
    width: 48%;
    margin: 10px 0;
    display: flex;
    &__icon {
        width: 45%;
        height: 120px;
        background-color: #b9ffd3;
        border-radius: 0.375rem;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            color: #22ad56;
            font-size: 28px;
        }
    }
    &__content {
        margin-left: 20px;
        h4 {
            text-transform: uppercase;
            margin: 0;
            margin-bottom: 5px;
            font-weight: 600;
            color: #d20000;
            font-size: 15px;
        }
        p {
            margin: 0;
            font-size: 16px;
        }
        &--description {
            font-size: 12px !important;
            margin-top: 5px !important;
            border-top: 1px dashed #e8e8e8;
            padding-top: 10px !important;
        }
    }
    
}