.functions {
    position: relative;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    li {
        &:first-child {
            margin-left: -2%;
        }
        margin: 0 8px;
        a {
            background: #9df99d;
            color: #003c00;
            display: inline-block;text-align: center;
            white-space: nowrap;
            vertical-align: middle;    
            text-decoration: none;
            -webkit-appearance: button;
            margin-bottom: 5px;
            padding: 5px;
            font-size: 13px;
            line-height: 1.5;
            padding-left: 10px;
            border-radius: 0.357rem;
            padding-right: 10px;
            font-weight: 500;
        }
    }
}