@use '../../../assets/styles/variable.module.scss' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product {
    margin-bottom: 15px;
    width: 90%;
    a {
        display: flex;
        width: 110%;
        padding: 10px 0;
    }
    &__image {
        img {
            width: 74px;
        }
        margin-right: 30px;
    }
    &__information {
        &--input {
            width: 90px;
            height: 30px;
            display: flex;
            align-items: center;
            .btn {
                width: 30%;
                height: 30px;
                border: 1px solid $input-color;
                background-color: #fff;
                color: $fourth-color;
                cursor: pointer;
            }
            input {
                width: 40%;
                height: 31px;
                text-align: center;
                padding-left: 2px;
                color: $fourth-color;
                border: 1px solid $input-color;
            }
        }
        &--title {
            font-weight: 600;
        }
        &--qty {
            font-size: 14px;
            color: #000;
            margin: 0 0 5px 0;
        }
        &--cost {
            font-weight: 600;
            color: $fifth-color;
            margin-left: 30px;
            margin-top: 15px;
        }
        &--skip {
            margin-left: 30px;
            color: $hover-color;
            margin-top: 10px;
            &:hover {
                color: $primary-color;
            }
        }
    }
}