.updateProduct {
    &__tile {
        position: relative;
        background: #ffffff;
        border-radius: 0.375rem;
        padding: 20px;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
        margin-bottom: 30px;
        transition: all 0.3s ease-in-out;
        &--title {
            margin-top: 0;
            margin-bottom: 30px;
            font-size: 20px;
            /* text-align: center; */
            border-bottom: 2px solid #FFD43B;
            padding-bottom: 10px;
            /* border-left: 3px solid black; */
            padding-left: 5px;
            color: black;
        }
        &--functions {
            position: relative;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
            margin-bottom: 10px;
            display: flex;
            li {
                &:first-child {
                    margin-left: -30px;
                }
                margin: 0 8px;
            }
        }
    }
}
.btn-save {
    background-color: rgb(166 236 171);
    color: rgb(1 123 10);
    /* width: 100px; */
    font-weight: 600;
    letter-spacing: 1px;
}

.btn-cancel {
    background-color: rgb(255 197 197);
    color: rgb(190, 40, 40);
    /* width: 100px; */
    font-weight: 600;
    letter-spacing: 1px;
}

.btn-add {
    background: #9df99d !important;
    color: #003c00 !important;
}

.form-group {
    margin-bottom: 1rem;
}
.control-label {
    font-weight: 600;
    color: black;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 15px;
    line-height: 1.5;
    color: black;
    background-color: #f1f1f1;
    background-clip: padding-box;
    height: 45px;
    border: 1px solid #dadada;
    border-radius: 0.357rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
#uploadfile, .removeimg {
    display: none;
}
.removeimg {
    height: 25px;
    position: absolute;
    background-repeat: no-repeat;
    top: 5px;
    left: 5px;
    background-size: 25px;
    width: 25px;
    /* border: 3px solid red; */
    border-radius: 50%;
}

#thumbimage {
    border-radius: 0.357rem;
    object-fit: contain;
    background: white;
    display: none;
}
#thumbbox {
    input {
        display: none;
    }
}
img {
    vertical-align: middle;
    border-style: none;
}
.Choicefile {
    display: block;
    background: #14142B;
    border: 1px solid #fff;
    color: #fff;
    width: 150px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 0px;
    border-radius: 5px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
