.btn-primary {
    color: rgb(245 157 57);
    background-color: rgb(251 226 197);
}
.trash {
    background: #f7c3c2;
    border: none;
    color: #de0400;
}
.edit {
    margin-left: 10px;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}