.products {
    &__main {
        &--container {
            width: 90%;
            margin: 0 auto;
            display: flex;
        }
    }
}

.left-content .collection-category {
    position: relative;
    margin-bottom: 10px;
    background-color: #fff;
}

.left-content .aside-filter {
    position: relative;
    margin-bottom: 10px;
    background-color: #fff;
}

.left-content .aside-filter .aside-titles {
    position: relative;
    font-size: 15px;
    font-weight: 700;
    background: #3ba66b;
    color: #fff;
    padding: 10px 17px;
    text-transform: uppercase;
    border-radius: 12px 12px 0 0;
}

.left-content .aside-filter .aside-hidden-mobile .filter-container {
    border: 1px solid #e8e8e8;
    padding: 10px 15px;
    border-radius: 0 0 12px 12px;
    margin-bottom: 0px;
}

.left-content .aside-filter .aside-hidden-mobile .filter-container .aside-item .aside-title {
    font-size: 15px;
    color: #000;
    font-weight: 700;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    padding-right: 25px;
}

.left-content .aside-filter .aside-hidden-mobile .filter-container .aside-item .aside-title .ant-svg {
    height: 20px !important;
    width: 20px !important;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.left-content .aside-filter .aside-hidden-mobile .filter-container .aside-item .aside-title {
    font-size: 15px;
    color: #000;
    font-weight: 700;
    cursor: pointer;
}

.filter-group {
    margin-bottom: 0px;
}

.filter-group ul {
    max-height: 290px;
    overflow-y: auto;
    list-style: none inside;
}

.filter-item {
    margin: 0;
    cursor: pointer;
    line-height: 27px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.filter-item * {
    color: #6c757d;
    cursor: pointer;
    font-weight: normal;
    line-height: 27px;
}

.left-content .aside-filter .aside-hidden-mobile .filter-container .aside-item .aside-content ul li label {
    font-size: 15px;
    color: rgba(0,0,0,0.9);
}

.filter-item--check-box input {
    display: none;
}

.filter-item--check-box .fa {
    margin-right: 5px;
    width: 14px;
    position: relative;
    display: inline-block;
    font-weight: 900;
}

.filter-item--check-box input+.fa:before {
    content: "";
    margin-right: 5px;
    border-radius: 2px;
    font-size: 18px;
    border: solid 1px rgba(0,0,0,0.3);
    line-height: 40px;
    position: absolute;
    top: -13px;
    height: 15px !important;
    width: 15px;
}
.filter-item--check-box input:checked+.fa:before {
    content: "";
    margin-right: 5px;
    border-radius: 2px;
    font-size: 18px;
    border: solid 1px rgba(0,0,0,0.3);
    line-height: 40px;
    position: absolute;
    top: -13px;
    height: 15px !important;
    width: 15px;
    background-color: #FFB416;
}

.left-content .aside-filter .aside-hidden-mobile .filter-container .aside-item+.aside-item {
    margin-top: 15px;
}

.left-content .aside-filter .aside-hidden-mobile .filter-container .aside-item .aside-title {
    font-size: 15px;
    color: #000;
    font-weight: 700;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    padding-right: 25px;
}

.left-content .aside-filter .aside-hidden-mobile .filter-container .aside-item .aside-title .ant-svg:before {
    width: 11px;
    height: 1px;
    opacity: 0;
}

.left-content .aside-filter .aside-hidden-mobile .filter-container .aside-item .aside-title .ant-svg:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    background-color: currentColor;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.left-content .aside-filter .aside-hidden-mobile .filter-container .aside-item .aside-title .ant-svg:after {
    width: 1px;
    height: 11px;
}

.left-content .aside-filter .aside-hidden-mobile .filter-container .aside-item .aside-title .ant-svg:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    background-color: currentColor;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.left-content .aside-filter .aside-hidden-mobile .filter-container .aside-item+.aside-item {
    margin-top: 15px;
}

.left-content .collection-category {
    position: relative;
    margin-bottom: 10px;
    background-color: #fff;
}

.left-content .collection-category .nav-category .nav-item {
    position: relative;
    clear: left;
}

.left-content .collection-category .aside-title {
    position: relative;
    font-size: 15px;
    font-weight: 700;
    background: #3ba66b;
    color: #fff;
    padding: 10px 17px;
    text-transform: uppercase;
    border-radius: 12px 12px 0 0;
}


.left-content .collection-category .aside-content {
    border: 1px solid #e8e8e8;
    padding: 10px 15px;
    border-radius: 0 0 12px 12px;
}

.left-content .collection-category .nav-category .nav-item a {
    font-size: 15px;
    padding-left: 0px;
    padding-right: 25px;
    color: #000;
    white-space: normal;
    position: relative;
    display: table;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.nav-link {
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.category-products .sort-cate {
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
}

.category-products .sort-cate .sort-cate-left {
    float: left;
    margin-top: 5px;
}

.category-products .sort-cate .sort-cate-left h3 {
    color: #000;
    font-size: 14px;
    float: left;
    margin: 0;
    margin-top: 2px;
    font-weight: 700;
}
.category-products .sort-cate .sort-cate-left h3 svg {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

.category-products .sort-cate .sort-cate-left ul {
    display: inline-block;
}

.category-products .sort-cate .sort-cate-left ul li {
    float: left;
    padding: 0 0 0 10px;
}

.category-products .sort-cate .sort-cate-left ul li a {
    color: #000;
    font-size: 14px;
    position: relative;
    font-weight: 700;
    text-decoration: none;
    background: transparent;
}

.category-products .sort-cate .sort-cate-left ul li.active i {
    position: relative;
}

.category-products .sort-cate .sort-cate-left ul li.active i {
    background-color: #3ba66b;
    border-radius: 100rem;
}

.products__main--list {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
