.modalDelete {
    &__wrapper {
        width: 478px;
        height: 205px;
        background-color: #fff;
        position: fixed;
        top: calc(50% - 102.5px);
        left: calc(50% - 239px);
        border-radius: 10px;
        z-index: 100000;
        &--title {
            font-weight: 600;
            text-transform: none;
            position: relative;
            display: block;
            padding: 13px 16px;
            font-size: 27px;
            line-height: normal;
            text-align: center;
        }
        &--text {
            line-height: normal;
            display: block;
            padding: 0 10px;
            overflow-wrap: break-word;
            color: black;
            text-align: center;
            font-weight: 500;
            font-size: 15px !important;
            p {
                color: red;
            }
        }
        &--btn {
            text-align: right;
            margin-top: 13px;
            padding: 13px 16px;
            border-radius: inherit;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}

.btn {
    margin: 5px;
    position: relative;
    display: inline-block;
    &-cancel {
        color: #d21010 !important;
        border: none;
        background-color: #ffbdbd !important;
        font-weight: 600;
        font-size: 14px;
        padding: 10px 24px;
        margin: 0;
        cursor: pointer;
        border-radius: 0.357rem;
    }
    &-confirm {
        font-weight: 600;
        font-size: 14px;
        padding: 10px 24px;
        margin: 0;
        cursor: pointer;
        background: rgb(191 255 184) !important;
        border-radius: 0.357rem;
        box-shadow: none !important;
        color: rgb(13 136 0) !important;
        border: none;
    }
}
